<div class="post">
    <div class="post-header">
      <span>
        <a href="/{{id}}">
          <h2 class="text-left" id="post-title">{{title}}</h2>
        </a>
      </span>
      <span>
      <p class="text-right" id="post-info">Posted by {{user_id}} on {{format_date date_created}}</p>
      </span>
    </div>

    <div class = "post-body">
      {{body}}
    </div>

</div>
